.bodyData{
    background-image: none;
    background-color: #526271;
    
}

.navbar{
    background-color: #7f909b;
    font-family: 'Courier New', monospace;
}

h1 {
    text-align: center;
    padding-top:5%;
    font-family: 'Courier New', monospace;
    color: white;
}
p {
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2%;
    color: white;
}

h3{
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 40px;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2%;
    color: white;
}

.square {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: #b4ceb3;
    border-radius: 8%;
    padding-top: 5%;
    justify-content: center;
    margin: 0 auto;
  }

  .search{
    justify-content: center;
    margin: 0 auto;
    display: flex;
  }

  .searchButton{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2%;
  }

  .navbar-brand{
    color:white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  .nav-link{
    color:white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  .login
  {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .login-button{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .center{
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .datasets{
    width:90%;
    padding-top: 5%;
    justify-content: center;
    margin:auto;
  }

.listText
{
  white-space: pre-line;
}
.accordion-button{
  background-color:rgb(75,83,109);
  color:white;
}
.accordion-button:not(.collapsed) {
  background-color:#7f909b;
}

.accordion{
  --bs-accordion-bg:#7f909b;
}

/* .badge{
  margin-left:5px;
} */

.input-num{
  text-align: center;
  justify-content: center;
  margin:auto, 0;
  padding-top: 1%;
}

.result-text{
  text-align: center;
  padding-top:0%;
  font-family: 'Courier New', monospace;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.align-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.align-right .buttonDelete {
  margin-left: 10px; /* Adjust spacing as needed */
}


